@charset "utf-8";

/* ------------------------------------------------------*/

// base style
html {
    scroll-behavior: smooth;
}

body {
    color: $baseColor;
    overflow-x: hidden;
    line-height: 2.1875;
    @include fs_lh(16, 2.1875);
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', sans-serif;

    @include sp {
        width: 100%;
        min-width: 100%;
    }
}

a,
input,
button {
    text-decoration: none;
    color: inherit;
    outline: none;
}

img {
    vertical-align: middle;
}

figure {
    margin: 0;
    padding: 0;
}

input,
textarea {
    outline: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}