@function get_vw($size, $viewport:375) {
    $rate: 100 / $viewport;
    @return $rate * $size * 1vw;
}

@mixin sp {
    @media screen and (max-width: 818px) {
        @content;
    }
}

@mixin pc {
    @media screen and (min-width: 819px) {
        @content;
    }
}

@mixin headFont {
    font-family: vdl-logona, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin fs($size:10) {
    font-size: $size * 1px;

    @include sp {
        font-size: get_vw($size);
    }
}

@mixin fs_lh($fs, $lh) {
    @include fs($fs);
    line-height: $lh;
}

@mixin wh($w, $h) {
    width: $w;
    height: $h;
}

@mixin gradientBg {
    background-image: url(../img/bg_grid_pc.png), url(../img/bg_gradient_pc.png);
    background-repeat: repeat, repeat-y;
    background-size: 130px, 100%;

    @include sp {
        background-image: url(../img/bg_grid_sp.png), url(../img/bg_gradient_sp.png);
        background-size: 18.6vw, 100%;
    }
}

@mixin gradientBgUI {
    background: linear-gradient(to right top, #2353B0, #7A129B);
}

@mixin colorSet($color, $bgColor) {
    color: $color;
    background-color: $bgColor;
}

@mixin flexCenter($direction) {
    display: flex;

    @if($direction==v) {
        align-items: center;
    }

    @if($direction==h) {
        justify-content: center;
    }

    @if($direction==c) {
        align-items: center;
        justify-content: center;
    }
}

@mixin transition($prop: all, $time: 0.3s) {
    transition: $prop $time;
}

@mixin absCenter($direction) {
    position: absolute;

    @if($direction==v) {
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    @if($direction==h) {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    @if($direction==c) {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}

@mixin centering($width: $pcWidth) {
    margin-left: auto;
    margin-right: auto;
    width: $width;

    @include sp {
        width: 100%;
    }
}

@mixin fullImg($width: 100%) {
    width: $width;

    img {
        width: 100%;
    }
}

@mixin smallText {
    @include fs_lh(14, 2.1428);
}