//その他
$px: 0.267vw;
$pcWidth: 1366px;
$contWidth: 960px;
$blockWidth: 600px;
$spPd: 5.3vw;
$spPdBig: 18.67vw;
$pcPd: 150px;
$pcPdSmall: 20px;
$pcBlockDist: 80px;
$spBlockDist: 10vw;
$spDist: 5.3vw;

$baseColor: #092972;
$warningColor: #FF0000;